<head>
    <!doctype html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- https://flask-assets.readthedocs.io/en/latest/#using-the-bundles -->
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "scss_all" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}

    <title>Flask application</title>
</head>

{% block body %}
{% endblock %}
