{% extends "base.html" %}

{% block body %}

<div class="container mt-5">
    <h1>A Flask application with Bootstrap Sass</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat nisi, blandit quis dignissim ac, egestas nec
        justo. Ut ut metus vel dolor tristique porta vitae nec ex. Morbi vel suscipit sapien. Fusce semper purus quis
        sapien ullamcorper laoreet. Nunc non turpis non urna vestibulum aliquet non nec nulla. Proin at mi sem. Cras
        consectetur elementum ipsum et tincidunt. Nunc vestibulum nunc id dui lobortis fermentum. Donec varius, erat ac
        condimentum hendrerit, velit felis consequat ligula, id fermentum ligula enim id turpis.
    </p>

    <p>
        Nulla tempus dictum nulla vel posuere. In quam massa, venenatis vitae ante at, congue aliquet tellus. Sed
        ultricies sit amet odio vel porttitor. Vivamus pharetra ultricies enim, auctor gravida mauris interdum nec.
        Aliquam ut iaculis tortor. Nullam id fringilla orci. Nulla efficitur, nisl non interdum vestibulum, ex purus
        egestas quam, quis accumsan nisl justo a justo. Aliquam sodales euismod tortor, vitae porttitor tortor molestie
        eget. Nam nisi odio, viverra sed odio id, tincidunt rutrum dolor. Nullam at maximus odio.
    </p>
</div>

{% endblock %}
